html{
    width:100%;
    height:100%;
    font-family:微软雅黑;
}
body{
    width:100%;
    height:100%;
    background: #efefef;
    margin:0;
    padding:0;
}
header{
    width:100%;
    height:3em;
}
.header i{
    display: block;
    position: absolute;
    top:1.2em;
    left:1.4em;
    width:0.7em;
    height:0.7em;
    transform: rotate(-45deg);
    border-top:2px solid #2da4f9;
    border-left:2px solid #2da4f9;
}
ul li{
    list-style: none;
}
.header{
    position: absolute;
    top:0;
    width:100%;
    margin:0;
    height:3em;
    line-height:3em;
    background: #FFFFFF;
    text-align: center;
    color: #666666;
}
.header span{
    position: absolute;
    right: 0.5em;
    color: #2da4f9;
    font-size:0.9em;
}
.top{
    height:5.5em;
    position: relative;
    background: #ffffff;
    margin-top:0.8em;
    color: #666666;
}
.top_left_img{
    width:3.5em;
    height:3.5em;
    border-radius:50%;
    background:#efefef;
    position: absolute;
    top:0.8em;
    left:1em;
}
.name_top{
    width:8em;
    height:3em;
    line-height:1.5em;
    position: absolute;
    top:1em;
    left:5em;
}
.old{
    font-size:0.5em;
}
.perfect{
    width:100%;
    height:0.2em;
    background: #efefef;
    position: relative;
    
}
.progress{
    position: absolute;
    width:1%;
    height:0.3em;
    z-index: 2;
    top:0;
    background: #ec311e;
    left:0;
}
.pro-box{
    display: block;
    width:13%;
    height:0.9em;
    border-radius: 0.5em;
    top:-0.34em;
    left:1%;
    position: absolute;
    background: #ec311e;
}
.pro-msg{
    width:100%;
    height:2.5em;
    line-height:2.5em;
    background: #ffffff;
    color: #666666;
    padding-left:1em;
}
.pro-msg span{
    color: #ff0000;
}
.arrow{
    display: block;
    position: absolute;
    width:0.7em;
    height: 0.7em;
    border-top:2px solid #c8c7cc;
    border-right:2px solid #c8c7cc;
    transform: rotate(45deg);
}
.edit{
    width:5em;
    font-size:0.6em;
    height:1.5em;
    position: absolute;
    right:0.3em;
    top:50%;
    margin-top:-0.75em;
}
.eb{
    top:0.2em;
    right:1.2em;
}
a{
    color: #666666;
    text-decoration: none;
}
.dis{
    width:96%;
    padding:0 2%;
    line-height:3.5em;
    background: #ffffff;
    margin-top:0.5em;
    margin-bottom:0;
}
.dis li{
    position: relative;
    height:3.5em;
    color: #666666;
    padding-left:10px;
    border-bottom:1px solid #efefef;
}
.ed{
    right:0.8em;
    top:1.1em;
}
.point{
    color: #ff0802;
    display: block;
    position: absolute;
    right:2em;
    top:-0.2em;
}




